<div class="dots-trigger" {{action "toggleVisibility"}}>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<ul class="dropdown-menu open dropdown-menu-list space-dropdown-menu dropdown-menu-settings {{posXClasses}}">
  {{#each menuActions as |act index|}}
    <li {{action "runAction" index}}>
      <span class="item-icon">{{one-icon icon=act.icon}}</span>
      <span class="item-label">{{act.title}}</span>
    </li>
  {{/each}}
</ul>
