{{#if _mobileMode}}
  {{#if (eq _tableData.length 0)}}
    <p>{{_tableCustomMessages.noDataToShow}}</p>
  {{else}}
    {{#one-collapsible-list as |list|}}
      {{#each _tableData as |transfer|}}
        {{#list.item as |listItem|}}
          {{#listItem.header}}
            <span class="item-icon-container">
              {{!-- TODO: better icon --}}
              {{one-icon icon="menu-transfers"}}
            </span>
            <span class="one-label">bla</span>
          {{/listItem.header}}
          {{#listItem.content}}
            <div class="item-table">
              <div class="item-table-content-cell">
                {{#each _tableColumns as |column|}}
                  <div class="row content-row">
                    {{!-- using data processing similar to the one used by ember-models-table --}}
                    <strong>{{column.title}}:</strong>
                    {{!-- FIXME: will probably not work with new API --}}
                    <span class="one-label">{{get transfer column.propertyName}}</span>
                  </div>
                {{/each}}
                {{#if listItem.isActive}}
                  <div class="row content-row chart-row">
                    {{transfers/live-stats-table/expanded-row transfer=transfer}}
                  </div>
                {{/if}}
              </div>
            </div>
          {{/listItem.content}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{/if}}
{{else}}
  {{models-table
    data=_tableData
    columns=_tableColumns
    customIcons=_tableCustomIcons
    customClasses=_tableCustomClasses
    customMessages=_tableCustomMessages
    showColumnsDropdown=false
    showGlobalFilter=false
    useFilteringByColumns=false
    showComponentFooter=false
    multipleColumnsSorting=false
    rowTemplate="components/transfers/live-stats-table/row"
    expandedRowTemplate="components/transfers/live-stats-table/expanded-row"}}
{{/if}}


