{{#if _mobileMode}}
  {{#if (eq _tableData.length 0)}}
    <p>{{_tableCustomMessages.noDataToShow}}</p>
  {{else}}
    {{#one-collapsible-list as |list|}}
      {{#each _tableData as |tableRowData|}}
        {{#list.item as |listItem|}}
          {{#listItem.header disableToggleIcon=(eq transferType "active")}}
            {{transfers/live-stats-table/cell-file-name record=tableRowData}}
          {{/listItem.header}}
          {{#if (eq transferType "active")}}
            {{transfers/live-stats-table/cell-actions record=tableRowData}}
          {{/if}}
          {{#listItem.content}}
            <div class="item-table">
              <div class="item-table-content-cell">
                {{#each _tableColumns as |column|}}
                  {{#if (not column.disableMobile)}}
                    <div class="row content-row">
                      {{!-- using data processing similar to the one used by ember-models-table --}}
                      <strong>{{column.title}}:</strong>
                      {{#if column.component}}
                        {{component column.component data=_tableData record=tableRowData column=column}}
                      {{else}}
                        <span class="one-label">{{get tableRowData column.propertyName}}</span>
                      {{/if}}
                    </div>
                  {{/if}}
                {{/each}}
                {{#if listItem.isActive}}
                  <div class="row content-row chart-row">
                    {{transfers/live-stats-table/expanded-row record=tableRowData}}
                  </div>
                {{/if}}
              </div>
            </div>
          {{/listItem.content}}
        {{/list.item}}
      {{/each}}
    {{/one-collapsible-list}}
  {{/if}}
{{else}}
  {{models-table
    data=_tableData
    columns=_tableColumns
    customIcons=_tableCustomIcons
    customClasses=_tableCustomClasses
    customMessages=_tableCustomMessages
    showColumnsDropdown=false
    showGlobalFilter=false
    useFilteringByColumns=false
    showComponentFooter=false
    multipleColumnsSorting=false
    multipleExpand=true
    pageSize=1000000
    rowTemplate="components/transfers/live-stats-table/row"
    expandedRowTemplate="components/transfers/live-stats-table/expanded-row"
    headerSortingRowTemplate="components/transfers/live-stats-table/header-row-sorting"
  }}
{{/if}}


