<h2>Providers map of dist.</h2>
<div style="height: 500px;">
{{#one-atlas as |atlas|}}
  {{#each providers as |provider|}}
    {{#atlas.point latitude=provider.latitude longitude=provider.longitude}}
      {{provider-place provider=provider atlasWidth=atlas.width circleSizeScale=1.5}}
    {{/atlas.point}}
  {{/each}}
{{/one-atlas}}
</div>

<ul>
  {{#each providers as |prov|}}
    <li>{{prov.name}}</li>
  {{/each}}
</ul>
<hr>
<ul>
  {{#each providerTransferConnections as |con|}}
    <li>x {{con.[0]}} -- {{con.[1]}}</li>
  {{/each}}
</ul>
<hr>
{{yield}}
