<div class="container-fluid">
  {{!-- FIXME collapsible ACL elements (rows) --}}
  <div class="modal-row large-space">
    <h1>ACL: {{acl.acl}}</h1>
        FILE: {{file}} {{file.id}} {{file.name}}
    {{#each aclItems as |ace|}}
      {{file-permissions/acl/ace-item ace=ace
        systemUsers=systemUsers
        systemGroups=systemGroups
      }}
    {{/each}}
    acl tmp: {{aclTmp}}
  </div>
  <div class="modal-row large-space">
    {{!-- {{#bs-button action='addAc'}}
      Add AC
    {{/bs-button}} --}}
  </div>
</div>
