{{page-title pageTitle}}

{{share-info-head share=model openDataDir="openDataDir" publishShare="publishShare"}}

{{#if model.hasHandle}}
  <div class="op-panel op-panel-metadata op-panel-background {{unless model.handle.metadataString "empty-metadata"}} metadata-panel">
    {{#if model.handle.metadataString}}
      {{metadata/rdf-editor data=model.handle.metadataString readOnly=true}}
    {{else}}
      {{t "shares.show.noMetadata"}}
    {{/if}}
  </div>
{{/if}}


<div class="op-panel op-panel-files op-panel-background">
  <div class="files-list">
    {{outlet}}
  </div>
</div>

{{#if publishShareModalOpened}}
  {{modals/publish-share open=publishShareModalOpened share=model}}
{{/if}}
