{{#if canViewPermissions}}
  {{permissions-table subjectType="space"
    groupsPermissions=permissions subject=subject}}
{{else}}
  {{#one-icon tagName="div" icon="group" class="content-error-icon"}}
    {{#one-overlay fog=false}}
      {{one-icon tagName="div" icon="ban-left-thin" class="content-error-icon icon-overlay ban"}}
    {{/one-overlay}}
  {{/one-icon}}
  <div class="inner-content content-error">
    {{t "common.noPrivileges"
      privileges=(t "spaces.show.viewMembersPrivileges")
    }}
  </div>
{{/if}}


{{page-title (t 'spaces.show.groups.title')}}
