{{!-- The main layout --}}

{{page-title "Oneprovider"}}

<div id="app">

  {{outlet}}

  {{#ember-notify closeAfter=5000 classPrefix="onedata-notify" as |message close|}}
    <a {{action close}} class='close-button'>{{one-icon icon='checkbox-x'}}</a>
    <span class='message'>{{message.text}}</span>
  {{/ember-notify}}

  {{modals/message-box}}
  {{common-modals}}

  {{!-- A component for debug purposes - uncomment if needed --}}
  {{!-- {{service-debugger}} --}}
</div>
