{{!-- Content for transfers for single space --}}
{{page-title (t "transfers.show.title")}}

{{#transfers/transfers-container space=model as |tData|}}
  <div class="row">
    <div class="col-xs-12 col-md-7 map-column">
      <h2>{{t "components.transfers.providersMapOfDist"}}</h2>
      {{!-- FIXME: loading container --}}
      {{#if tData.tableDataIsLoaded}}
        {{transfers/providers-map
          providers=tData.providers
          providerTransferConnections=tData.providerTransferConnections
        }}
      {{/if}}
    </div>
    
    <div class="col-xs-12 col-md-5">
      <h2><span class="one-label">{{t "components.transfers.throughputDistribution"}}</span>
        {{#if tData.providerTransfers.length}}
          {{#bs-button-group value=transfersPieChartDirection type="radio" size="sm" class="pull-right"}}
            {{#bs-button value="in"}}{{t "components.transfers.in"}}{{/bs-button}}
            {{#bs-button value="out"}}{{t "components.transfers.out"}}{{/bs-button}}
          {{/bs-button-group}}
        {{/if}}
      </h2>
      {{!-- FIXME: loading container --}}
      {{#if tData.tableDataIsLoaded}}
        {{#if tData.providerTransfers.length}}
          {{transfers/throughput-distribution
            providers=tData.providers
            providerTransfers=tData.providerTransfers
            transfersDirection=transfersPieChartDirection
          }}
        {{else}}
          <p>{{t "components.transfers.noActiveTransfers"}}</p>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>{{t "components.transfers.activeTransfers"}}</h2>
      {{!-- FIXME: loading container --}}
      {{#if tData.tableDataIsLoaded}}
        {{transfers/live-stats-table
          transfers=tData.currentTransfers
        }}
      {{/if}}
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <h2>{{t "components.transfers.completedTransfers"}}</h2>
      {{!-- FIXME: loading container --}}
      {{#if tData.tableDataIsLoaded}}
        {{transfers/live-stats-table
          transfers=tData.completedTransfers
        }}
      {{/if}}
    </div>
  </div>

{{/transfers/transfers-container}}
