<td class="provider-name">
  {{#truncated-string}}
    {{providerName}}
  {{/truncated-string}}
</td>
<td class="replica-btns">
  {{!-- FIXME: is: replication in progress / invalidation in progress / file already replicated --}}
  <div class="btn-group">
    {{!-- FIXME: maybe refactor - make separate component --}}
    {{!-- FIXME: loading state --}}
    {{!-- FIXME: get all transfers, check if fileForChunks is present in them and check type of transfer (migration?) --}}
    <a class={{migrateButtonClasses}} click={{if migrationEnabled (action "openMigrationOptions" file providerId) null}}>
      {{#one-icon icon="migrate"}}
        {{bs-tooltip placement="top" title=migrateButtonTooltip}}
      {{/one-icon}}
    </a>
    <a class={{replicateButtonClasses}} click={{if replicationEnabled (action "startReplication" file providerId) null}}>
      {{#one-icon icon="replicate"}}
        {{bs-tooltip placement="top" title=replicateButtonTooltip}}
      {{/one-icon}}
    </a>
  </div>
</td>
<td class="chunks">
  {{#if neverSynchronized}}
    <div class="file-chunks never-synchronized">
      <span>
        {{t "components.dataFilesListToolbar.fileChunksModal.neverSynchronized"}}
      </span>
    </div>
    {{bs-tooltip
      placement="bottom"
      title=(t "components.dataFilesListToolbar.fileChunksModal.neverSynchronizedHint")
    }}
  {{else}}
    {{file-chunks-bar file=file fileBlocks=fileDistribution}}
  {{/if}}
</td>
