{{#if breadcrumbsEnabled}}
  <div class="row">
    {{file-breadcrumbs file=dir rootDir=rootDir changeDir="changeDir"}}
  </div>
{{/if}}

{{#if uploadEnabled}}
  <div class="drop-area">
    {{icon 'upload'}}
  </div>
{{/if}}

{{#if dirIsEmpty}}

<div class="empty-model">
  <div class="empty-model-container">
    <div class="empty-model-image empty-dir-image"></div>
    {{#if uploadEnabled}}
      <div class="empty-model-message">
        Nothing here yet.
      </div>
      <div class="empty-model-message secondary">
        Drop your files here or use the <span class="inline-button">{{icon 'upload'}}</span> button in toolbar
      </div>
    {{else}}
    <div class="empty-model-message">
      This directory is empty.
    </div>
    {{/if}}
  </div>
</div>

{{else}}

<table class="table table-strips files-table relative">
  <thead>
  <th>
    {{t 'components.dataFilesList.files'}}
  </th>
  <th class="hidden-xs">
    {{t 'components.dataFilesList.size'}}
  </th>
  {{!-- TODO: disabled in beta4 --}}
  {{!-- <th class="hidden-xs hidden-sm">
    {{t 'components.dataFilesList.permissions'}}
  </th> --}}
  <th class="hidden-xs">
    {{t 'components.dataFilesList.modification'}}
  </th>
  </thead>
  <tbody>
  {{#each visibleFilesSorted as |file index|}}
  {{!-- TODO: open file when selected and enter pressed --}}
    {{data-files-list/file-row file=file openDirInBrowser='openDirInBrowser'
      downloadFile='downloadFile' selectFile='selectFile'
      readOnly=readOnly
      listIndex=index
      labelMaxWidth=fileLabelMaxWidth
      openFileShareModal='openFileShareModal'
      toggleFileMetadata='toggleFileMetadata'
      watchAppear=(or (eq index fileIndexToWatchVisibility) (eq index (dec visibleFiles.length)))
      onAppear=(action "fileAppeared" index)
      }}
    {{#if file.isEditingMetadata}}
      {{data-files-list/file-metadata-row file=file readOnly=readOnly}}
    {{/if}}
  {{/each}}
  {{#if isLoadingMoreFiles}}
    <tr>
      <td colspan=999>
        <div class="spinner-container spinner-centered spinner-64">
          {{spin-spinner scale=0.4 lines=12 length=20 width=10}}
        </div>
      </td>
    </tr>
  {{/if}}
  </tbody>

{{data-files-list-loader startRow=loadingFileIndex
  rowsCount=visibleFilesSorted.length}}
</table>
{{/if}}
