<ul>
  <li>
    <div id="tree-dir-{{rootDir.id}}"
      class="secondary-sidebar-item root-item dir-item single-selectable onedata-red {{if (eq rootDir.id fileBrowser.dir.id) 'active' ''}}">
      <div class="item-element item-click-area" {{action 'openDirInBrowser' rootDir}}>
        <span class="item-element item-icon">
          {{icon "folder-open" "color-directory"}}
        </span>
        <span class="item-element item-label">
          {{t 'components.dataFilesTree.rootDirectory'}}
        </span>
      </div>
    </div>
  </li>
  <li>
    {{!-- level == 2 because first level is root --}}
    {{data-files-tree-list rootDir=rootDir openDirInBrowser='openDirInBrowser'
      level=2}}
  </li>
</ul>
