{{#if breadcrumbsEnabled}}
  <div class="row">
    {{file-breadcrumbs file=dir rootDir=rootDir changeDir="changeDir"}}
  </div>
{{/if}}

{{#if uploadEnabled}}
  <div class="drop-area">
    {{one-icon icon="upload"}}
  </div>
{{/if}}

{{#if filesTableIsVisible}}

  <table class="table table-strips files-table relative">
    <thead>
      <th>
        {{t "components.dataFilesList.files"}}
      </th>
      <th class="hidden-xs">
        {{t "components.dataFilesList.size"}}
      </th>
      {{!-- TODO: disabled in beta4 --}}
      {{!-- <th class="hidden-xs hidden-sm">
    {{t "components.dataFilesList.permissions"}}
      </th> --}}
      <th class="hidden-xs">
        {{t "components.dataFilesList.modification"}}
      </th>
    </thead>
    <tbody>
      {{#if (or currentlyUploadingCount isWaitingForPushAfterUpload)}}
        <tr class="file-row-uploading selection-background-pulse first-level">
          <td colspan=99 class="file-list-col-file">
            <div class="file-icon">
              {{one-icon icon="upload"}}
            </div>
            <div class="file-label-container">
              <div class="file-label truncate">
                {{#if currentlyUploadingCount}}
                  {{t "components.dataFilesList.uploadIndicator"
                    currentlyUploadingCount=currentlyUploadingCount
                  }}
                {{else if isWaitingForPushAfterUpload}}
                  {{t "components.dataFilesList.uploadFinishedWait"}}
                {{/if}}
              </div>
            </div>
          </td>
        </tr>
      {{/if}}
      {{!-- TODO: open file when selected and enter pressed --}}
      {{#each files as |file index|}}
        {{#if (and file.isLoaded (not file.isBroken))}}
          {{data-files-list/file-row
            file=file
            openDirInBrowser="openDirInBrowser"
            downloadFile="downloadFile"
            fileClicked="handleFileClicked"
            clearFilesSelection="clearFilesSelection"
            readOnly=readOnly 
            listIndex=index 
            labelMaxWidth=fileLabelMaxWidth 
            openFileShareModal="openFileShareModal"
            toggleFileMetadata="toggleFileMetadata"
            toggleFilesInfo="toggleFilesInfo"
            watchAppear=(or (eq index fileIndexToWatchVisibility) (eq index (dec visibleFiles.length)))
            onAppear=(action "fileAppeared" index)
          }}
          {{#if file.isShowingInfo}}
            {{data-files-list/file-info-row file=file spaceId=spaceId}}
          {{/if}}
          {{#if file.isEditingMetadata}}
            {{data-files-list/file-metadata-row file=file readOnly=readOnly}}
          {{/if}}
        {{/if}}
      {{/each}}

      <tr class="file-row-load-more">
        <td colspan=999>
          {{#if isLoadingMoreFiles}}
            {{loading-more-spinner}}
          {{/if}}
        </td>
      </tr>
    </tbody>

    {{data-files-list-loader startRow=loadingFileIndex rowsCount=visibleFilesSorted.length}}
  </table>

{{else if showNoPermissionsMessage}}

  {{#route-error icon="folder"}}
    {{t "common.noPrivileges"
      privileges=(t "components.dataFilesList.noViewPrivileges")
    }}
  {{/route-error}}
  
{{else if showEmptyDirMessage}}

  <div class="empty-model">
    <div class="empty-model-container">
      <div class="empty-model-image empty-dir-image"></div>
      {{#if (and uploadEnabled (not fileUpload.locked))}}
        <div class="empty-model-message">
          Nothing here yet.
        </div>
        <div class="empty-model-message secondary">
          Drop your files here or use the <span class="inline-button">{{one-icon icon="upload"}}</span> button in toolbar
        </div>
      {{else}}
        <div class="empty-model-message">
          This directory is empty.
        </div>
      {{/if}}
    </div>
  </div>

{{/if}}
