{{!-- TODO: icons hide when too small size of screen --}}
{{!-- TODO: toolbar icon component --}}
{{#if collapsed}}

  <li class="dropdown">
    <a class="top-bar-item toolbar-icon dropdown-toggle" type="button" data-toggle="dropdown">
      {{one-icon icon='settings' class='top-bar-icon'}}
    </a>
    <ul class="dropdown-menu dropdown-menu-down expand-left dropdown-menu-list dropdown-sidebar-select">
      {{#each items as |item|}}
        {{#unless item.disabled}}
          <li>
            <a id="{{item.id}}" class="clickable"
              {{action (if item.action item.action (action (mut undefProp)))}}>
              <div class="item-icon">
                {{one-icon icon=item.icon}}
              </div>
              <div class="item-label">
                {{item.tooltip}}
              </div>
            </a>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </li>
{{else}}
  {{#each items as |item|}}
    <li>
      <a id={{item.id}} class="top-bar-item toolbar-icon {{if item.disabled "disabled"}}" disabled={{item.disabled}} {{action (if item.action item.action (action (mut undefProp)))}}>
        {{one-icon icon=item.icon class='top-bar-icon'}}
        {{bs-tooltip placement="bottom" title=item.tooltip}}
      </a>
    </li>
  {{/each}}
{{/if}}

{{!-- File upload browse element - hidden, used by upload button --}}
{{!-- TODO: respect maxFiles like in Resumable.js bind --}}
<input id="toolbar-file-browse" type="file" multiple="multiple" class="hidden" />

{{!-- Modals for actions --}}
{{!-- TODO: modals should be in separate component or something --}}
{{!-- TODO: there should be a service for opening modals from files-list --}}

{{!-- TODO: form validation (not blank name etc.) --}}
{{!-- TODO: autofocus does not work, because something is stealing focus... --}}

{{!-- RENAME FILE --}}

{{modals/rename-modal model=fileToRename open=isRenamingFile modalId="rename-file"
  title=(t "components.dataFilesListToolbar.renameFileModal.title")
  label=(t 'components.dataFilesListToolbar.renameFileModal.enterName' currentName=fileToRename.name)
  renameDone="renameDone" useNotify=false
  }}

{{!-- CREATE DIRECTORY --}}

{{#bs-modal open=isCreatingDir body=false footer=false
    title=(t "components.dataFilesListToolbar.createDirModal.title")
    id="create-dir"}}
  {{#bs-modal-body}}
    {{#bs-form action=(if createFileName (action "submitCreateFile" "dir")) model=this}}
      {{bs-form-element controlType="text" property="createFileName" autofocus=true
        label=(t 'components.dataFilesListToolbar.createDirModal.enterName')}}
    {{/bs-form}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#spin-button-onedata buttonType="submit"
      action=(if createFileName (action "submitCreateFile" "dir"))
      class="btn btn-primary no-outline" spinnerColor="#fff"
      inFlight=isCreatingFileWorking disabled=(unless createFileName true)}}
      {{t "common.modal.create"}}
    {{/spin-button-onedata}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{!-- CREATE FILE --}}

{{#bs-modal open=isCreatingFile body=false footer=false
    title=(t "components.dataFilesListToolbar.createFileModal.title")
    id="create-file"}}
  {{#bs-modal-body}}
    {{#bs-form action=(if createFileName (action "submitCreateFile" "file")) model=this}}
      {{bs-form-element controlType="text" property="createFileName" autofocus=true
        label=(t 'components.dataFilesListToolbar.createFileModal.enterName')}}
    {{/bs-form}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#spin-button-onedata buttonType="submit"
      action=(if createFileName (action "submitCreateFile" "file"))
      class="btn btn-primary no-outline" spinnerColor="#fff"
      inFlight=isCreatingFileWorking disabled=(unless createFileName true)}}
      {{t "common.modal.create"}}
    {{/spin-button-onedata}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{!-- REMOVE FILE --}}

{{modals/remove-modal open=isRemovingFiles modalId="remove-files"
  title=(t "components.dataFilesListToolbar.removeFilesModal.title")
  label=(t "components.dataFilesListToolbar.removeFilesModal.text" selectedCount=selectedToRemoveCount)
  answered="handleRemoveAnswer"}}

{{!-- EDIT PERMISSIONS --}}

{{modals/file-permissions open=isEditingPermissions files=dir.selectedFiles
  filesType=dir.selectedFilesType}}

{{!-- FILE CHUNKS --}}

{{modals/file-chunks
  open=isFileChunksModal
  modalId="file-chunks"
  closedAction=(action "chunksModalClosed")
  fileForChunks=fileForChunks
  currentProviderSupport=currentProviderSupport
}}

{{!-- NOT IMPLEMENTED FEATURE --}}

{{#bs-modal open=isNotImplementedModal body=false footer=false
    title=(t 'common.featureNotSupportedShort')
    id="not-implemented"}}
  {{#bs-modal-body}}
    {{t 'common.featureNotSupportedShort'}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button action=(action "close" target=footer) type="primary"}}
      {{t "comon.modal.ok"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}
