<table class="table table-strips files-table relative">
  <div class="drop-area">
    {{icon 'upload'}}
  </div>

  {{#if dirIsEmpty}}

  <div class="empty-model">
    <div class="empty-model-container">
      <div class="empty-model-image empty-dir-image"></div>
      <div class="empty-model-message">
        Nothing here yet.
      </div>
      <div class="empty-model-message secondary">
        Drop your files here or use the <span class="inline-button">{{icon 'upload'}}</span> button in toolbar
      </div>
    </div>
  </div>

  {{/if}}

  <thead>
  <th>
    {{t 'components.dataFilesList.files'}}
  </th>
  <th class="hidden-xs">
    {{t 'components.dataFilesList.size'}}
  </th>
  {{!-- TODO: disabled in beta4 --}}
  {{!-- <th class="hidden-xs hidden-sm">
    {{t 'components.dataFilesList.permissions'}}
  </th> --}}
  <th class="hidden-xs">
    {{t 'components.dataFilesList.modification'}}
  </th>
  </thead>
  <tbody>
  {{#each visibleFilesSorted as |file|}}
  {{!-- TODO: open file when selected and enter pressed --}}
    {{data-files-list/file-row file=file openDirInBrowser='openDirInBrowser'
      downloadFile='downloadFile' selectFile='selectFile'
      openFileShareModal='openFileShareModal'}}
  {{/each}}
  </tbody>
</table>
