{{!-- TODO: isLoading support is only example - it does not work because isLoading state is set somewhere in parent --}}

<div class="dropdown settings-dropdown">
  <div href="#" class="dropdown-toggle" data-toggle="dropdown"
    role="button" aria-haspopup="true" aria-expanded="false">
    <span class="item-element item-icon settings-icon {{if isLoading 'non-clickable disabled' 'transparent-not-hovered clickable'}}">
      {{icon 'settings' (if isLoading 'rotating')}}
    </span>
  </div>
  <ul class="dropdown-menu dropdown-menu-right dropdown-menu-list space-dropdown-menu dropdown-menu-settings">
    {{#each menuItemsCurrentUser as |item|}}
      <li {{action item.action space}} class="clickable">
        <span class="item-icon">
          {{icon item.icon}}
        </span>
        <span class="item-label">
          {{item.label}}
        </span>
      </li>
    {{/each}}
    <li class="menu-group-name">
      <span class="item-label">
        {{!-- not translated, because temporary... --}}
        "{{trim-string group.name 16}}" actions:
      </span>
    </li>
    {{#each menuItemsGroup as |item|}}
      <li {{action item.action space}} class="clickable">
        <span class="item-icon">
          {{icon item.icon}}
        </span>
        <span class="item-label">
          {{item.label}}
        </span>
      </li>
    {{/each}}
  </ul>
</div>
