<ul>
  <div class="small-logo"></div>

    {{main-menu-item name="data" title=(t 'components.mainMenu.data')
      icon="menu-data" goToItem='goToItem'}}

    {{!--

    {{main-menu-item name="links" title=(t 'components.mainMenu.links')
      icon="menu-links" goToItem='goToItem'}}

    {{main-menu-item name="recent" title=(t 'components.mainMenu.recent')
      icon="menu-recent" goToItem='goToItem'}}

    {{main-menu-item name="collection" title=(t 'components.mainMenu.collection')
      icon="menu-collection" goToItem='goToItem'}}

    {{main-menu-item name="trash" title=(t 'components.mainMenu.trash')
      icon="menu-trash" goToItem='goToItem'}}

    --}}

    {{main-menu-item name="spaces" title=(t 'components.mainMenu.spaces')
      icon="space-empty" goToItem='goToItem'}}

    {{main-menu-item name="groups" title=(t 'components.mainMenu.groups')
      icon="menu-groups" goToItem='goToItem'}}

    {{#if onezoneUrl}}
      {{main-menu-item name="token" title=(t 'components.mainMenu.token')
        icon="menu-token" link=(concat onezoneUrl "?expand_tokens=true")
        goToItem='goToItem'}}

      {{main-menu-item name="providers" title=(t 'components.mainMenu.providers')
        icon="menu-providers" link=(concat onezoneUrl "?expand_providers=true")
        goToItem='goToItem'}}
    {{/if}}

</ul>
