<div class="row">
  {{#bs-tab fade=false}}
    {{#bs-tab-pane title="Basic"}}
      {{metadata/basic-editor dataString=metadata.basic readOnly=readOnly}}
    {{/bs-tab-pane}}
    {{#bs-tab-pane title="JSON"}}
      {{metadata/json-editor dataString=metadata.json readOnly=readOnly}}
    {{/bs-tab-pane}}
    {{#bs-tab-pane title="RDF"}}
      {{metadata/rdf-editor data=metadata.rdf readOnly=readOnly}}
    {{/bs-tab-pane}}
  {{/bs-tab}}
</div>

{{#unless readOnly}}
<div class="row save-metadata-row">
  {{#spin-button-onedata buttonType="submit"
    class="btn btn-primary no-outline" spinnerColor="#fff"
    inFlight=isSaving disabled=(not saveEnabled)
    action="saveAll"}}
    {{t 'components.metadataPanel.saveAllChanges'}}
  {{/spin-button-onedata}}

  {{#bs-button
    class="no-outline" disabled=(not saveEnabled)
    type="default"
    action="discardChanges"}}
    {{t 'components.metadataPanel.discardChanges'}}
  {{/bs-button}}

  {{#if removeAvailable}}
    {{#bs-button
      class="no-outline" disabled=(not removeEnabled)
      type="danger"
      action="removeMetadata"}}
      {{t 'components.metadataPanel.removeMetadata'}}
    {{/bs-button}}
  {{/if}}
</div>
{{/unless}}
