{{!-- NOTE: this file has vary high code redundancy, because the permissions view will be rewritten completely --}}

{{!-- Users permissions table for single Space --}}
<div class="row row-permissions-buttons hidden-xs hidden-sm">
  {{!-- NOTE: currently these buttons are copied in bottom of this file --}}
  {{!-- because of mobile view --}}

  {{#spin-button-onedata
    action=(action 'saveChanges' userPermissions)
    buttonStyle="expand-left" class=(concat "btn btn-permissions btn-save no-outline" (unless isModified ' disabled' ''))
    disabled=(unless isModified true) spinnerSize=spinnerSize size=spinButtonSize}}
    {{t 'components.permissionsTable.save'}}
  {{/spin-button-onedata}}

  {{#spin-button-onedata
    action=(action 'discardChanges' userPermissions)
    buttonStyle="expand-left" class=(concat "btn btn-permissions btn-discard no-outline" (unless isModified ' disabled' ''))
    disabled=(unless isModified true) spinnerSize=18 size=spinButtonSize}}
    {{t 'components.permissionsTable.discard'}}
  {{/spin-button-onedata}}
</div>

<table class="one-table normal {{if isLocked 'is-loading'}}">

  {{#if usersPermissions}}

    <thead class="one-thead">
      <th class="one-th one-first">
        <div class="cell-body">
          <div class="item-element item-label">
            {{t 'components.permissionsTable.tableTitle.users'}}
          </div>
          <div class="item-element item-icon item-tool"
            {{action (if (eq subjectType 'space') 'inviteUserToSpace' 'inviteUserToGroup')}}>
            <figure class="icon">
              {{icon 'user-add'}}
              <figcaption>{{t 'components.permissionsTable.inviteButton.user'}}</figcaption>
            </figure>
          </div>
        </div>
      </th>
      {{#if (eq subjectType "space")}}
        <th class="one-th">{{t 'components.permissionsTable.viewSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.modifySpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.setPrivileges'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteUser'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeUser'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteProvider'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeProvider'}}</th>
      {{/if}}
      {{#if (eq subjectType "group")}}
        <th class="one-th">{{t 'components.permissionsTable.viewGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.modifyGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.setPrivileges'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteUser'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeUser'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeSubgroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.joinGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.createSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.joinSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.leaveSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.getSupport'}}</th>
      {{/if}}
    </thead>

    <tbody class="one-tbody">
      {{#each usersPermissionsSorted as |perm|}}
        {{permissions-table-row type='users' subjectType=subjectType
          permissions=perm isActive=(eq activePermissions.id perm.id)
          activatePermissions="activatePermissions" togglePermission="togglePermission"}}
      {{/each}}
    </tbody>

  {{/if}}

  {{#if (not (eq groupsPermissions null))}}

    <thead class="one-thead">
      <th class="one-th one-first">
        <div class="cell-body">
          <div class="item-element item-label">
            {{t 'components.permissionsTable.tableTitle.groups'}}
          </div>
          <div class="item-element item-icon item-tool"
            {{action (if (eq subjectType 'space') 'inviteGroupToSpace' 'inviteGroupToGroup')}}>
            <figure class="icon">
              {{icon 'group-invite'}}
              <figcaption>{{t 'components.permissionsTable.inviteButton.group'}}</figcaption>
            </figure>
          </div>
        </div>
      </th>
      {{#if (eq subjectType "space")}}
        <th class="one-th">{{t 'components.permissionsTable.viewSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.modifySpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.setPrivileges'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteUser'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeUser'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteProvider'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeProvider'}}</th>
      {{/if}}
      {{#if (eq subjectType "group")}}
        <th class="one-th">{{t 'components.permissionsTable.viewGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.modifyGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.setPrivileges'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteUser'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeUser'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.inviteGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.removeSubgroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.joinGroup'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.createSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.joinSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.leaveSpace'}}</th>
        <th class="one-th">{{t 'components.permissionsTable.getSupport'}}</th>
      {{/if}}
    </thead>

    {{#if (eq groupsPermissions.length 0)}}

    <tbody class="one-tbody">
      <tr class="one-tr">
        {{!-- A magic number to colspan all columns :) --}}
        <td class="one-td info-cell" colspan="42">
          {{t (concat 'components.permissionsTable.noGroups.' subjectType)}}
        </td>
      </tr>
    </tbody>

    {{else}}

    <tbody class="one-tbody">
      {{#each groupsPermissionsSorted as |perm|}}
        {{permissions-table-row type='groups' subjectType=subjectType
          permissions=perm isActive=(eq activePermissions.id perm.id)
          activatePermissions="activatePermissions" togglePermission="togglePermission"
          availableGroups=availableGroups}}
      {{/each}}
    </tbody>

    {{/if}}

  {{/if}}

</table>

<div class="row row-permissions-buttons hidden-md hidden-lg">
  {{#spin-button-onedata
    action=(action 'saveChanges' userPermissions)
    buttonStyle="expand-left" class=(concat "btn btn-permissions btn-save no-outline" (unless isModified ' disabled' ''))
    disabled=(unless isModified true) spinnerSize=18 size=spinButtonSize}}
    {{t 'components.permissionsTable.save'}}
  {{/spin-button-onedata}}

  {{#spin-button-onedata
    action=(action 'discardChanges' userPermissions)
    buttonStyle="expand-left" class=(concat "btn btn-permissions btn-discard no-outline" (unless isModified ' disabled' ''))
    disabled=(unless isModified true) spinnerSize=18 size=spinButtonSize}}
    {{t 'components.permissionsTable.discard'}}
  {{/spin-button-onedata}}
</div>
