<ul class="inner-scroll">
  <li><strong>secondaryMenu.activeItem:</strong> {{secondaryMenu.activeItem.name}}</li>
  <li><strong>secondaryMenu.activeOption:</strong> {{secondaryMenu.activeOption}}</li>

  <li><strong>secondaryMenu.activeSpace:</strong> {{secondaryMenu.activeSpace.name}}</li>
  <li><strong>secondaryMenu.activeGroup:</strong> {{secondaryMenu.activeGroup.name}}</li>

  <li><strong>secondaryMenu.itemType:</strong> {{secondaryMenu.itemType}}</li>

  <li><strong>mainMenu.currentItem:</strong> {{mainMenu.currentItem}}</li>
</ul>
