<div class="share-top-row">
  <div class="share-top-row-name">
    <h1 class="share-name">{{share.name}}</h1>
  </div>
  {{#unless isPublished}}
  <div class="share-top-row-publish">
    {{#bs-button
      type="outline"
      action="publishShare"
      class="btn btn-publish no-outline"}}
      {{t 'components.shareInfoHead.publish'}}
    {{/bs-button}}
  </div>
  {{/unless}}
</div>

<table>
  <tr>
    <th>{{t 'components.shareInfoHead.path'}}</th>
    <td>{{file-breadcrumbs file=file changeDir="openDataDir"}}</td>
  </tr>
  <tr>
    <th>{{t 'components.shareInfoHead.publicUrl'}}</th>
    <td>{{input-copy inputValue=share.publicUrl autofocus=false}}</td>
  </tr>
  {{#if isPublished}}
  <tr>
    <th>{{t 'components.shareInfoHead.publicHandle'}}</th>
    <td>{{input-copy inputValue=share.handle.publicHandle autofocus=false}}</td>
  </tr>
  {{/if}}
</table>
