{{#if (eq isSupportedByCurrentProvider false)}}
  <div class="row loadable-row row-space-not-supported">
    {{#route-error icon="provider" class="error-space-not-supported"}}
      {{t "components.transfers.notSupported"}}
    {{/route-error}}
  </div>
{{else}}
  {{!-- TODO: error if testing current provider fails --}}
  <div class="row loadable-row row-transfers-data-container">
    {{#loading-container
      isLoading=(not (eq isSupportedByCurrentProvider true))
    }}
      {{#loading-container isLoading=(or
        (not providersLoaded)
        (not currentTransfersLoaded)
      )}}
        {{!-- FIXME: some of these variables will be removed after rebase --}}
        {{show-space-transfers/transfers-overview
          space=space
          providers=providers
          providerTransfers=providerTransfers
          someTransfersRemote=someTransfersRemote
          throughputChartError=throughputChartError
          providerTransferConnections=providerTransferConnections
          destinationProviderIds=destinationProviderIds
          sourceProviderIds=sourceProviderIds
          providersColors=providersColors
          providersLoaded=providersLoaded
        }}
      {{/loading-container}}
      
      <div class="row row-transfers-tables">
        {{!-- FIXME: temporary opening completed tab as default --}}
        {{#bs-tab
          class="bs-tab"
          fade=false
          customTabs=true
          activeId=initialActiveTabId
          action=(action (mut activeTabId))
          as |activeTabId select|
        }}
          {{#bs-nav
            type="tabs"
          }}
            {{#bs-nav-item
              active=(eq activeTabId "current")
            }}
              <a href="#current"
                class="nav-link"
                role="tab" {{action select "current"}}>
                {{t "components.transfers.activeTransfers"}}
              </a>
            {{/bs-nav-item}}
            {{#bs-nav-item
              active=(eq activeTabId "completed")
            }}
              <a href="#completed"
                class="nav-link"
                role="tab" {{action select "completed"}}>
                {{t "components.transfers.completedTransfers"}}
              </a>
            {{/bs-nav-item}}
          {{/bs-nav}}
          <div class="tab-content">
            {{#bs-tab-pane elementId="current"}}
              {{#if (eq activeTabId "current")}}
                <div class="row row-active-transfers-table">
                  <div class="col-xs-12 col-active-transfers">
                    <div class="row loadable-row">
                      {{#loading-container isLoading=(or
                          (not providersLoaded)
                          (not currentTransfersLoaded)
                        )
                        class="loading-active-table"
                      }}
                        {{transfers/live-stats-table
                          transfers=currentTransfers
                          transferType="active"
                          providers=providers
                          providersColors=providersColors
                          sortBy=sortBy
                          selectedTransferIds=selectedTransferIds
                        }}
                      {{/loading-container}}
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/bs-tab-pane}}
            {{#bs-tab-pane elementId="completed"}}
              {{#if (eq activeTabId "completed")}}
                <div class="row row-completed-transfers">
                  <div class="col-xs-12 col-completed-transfers">
                    <div class="row loadable-row">
                      {{#loading-container isLoading=(or
                          (not providersLoaded)
                          (not completedTransfersLoaded)
                        )
                        class="loading-completed-table"
                      }}
                        {{transfers/live-stats-table
                          transfers=completedTransfers
                          transferType="completed"
                          providers=providers
                          providersColors=providersColors
                          sortBy=sortBy
                          selectedTransferIds=selectedTransferIds
                        }}
                      {{/loading-container}}
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/bs-tab-pane}}
          </div>
        {{/bs-tab}}
        
      </div>
    {{/loading-container}}
  </div>
  
  {{yield}}
{{/if}}
