<div class="secondary-sidebar-item first-level">
  <span class="item-element item-click-area"
    {{action (unless isExpanded 'expand' (action (mut undefProp)))}}>
    <span class="item-element item-icon">
      {{icon (if space.isDefault 'space-home' 'space')
        (if space.isDefault 'color-space-default' 'color-space')}}
    </span>

    <span class="item-element item-label" title="{{space.name}}">
      <div class="truncate truncate-secondary-sidebar-select">
        {{space.name}}
      </div>
    </span>

  </span>

  {{space-settings-drop space=space openSettingsModal='openSettingsModal'
    setAsHome='setAsHome'}}

</div>

{{#if isExpanded}}
  {{spaces-submenu space=space openSubmenuEntry="openSubmenuEntry"}}
{{/if}}
