<span class="resumable-file-prefix">
  {{yield}}
</span>
<span class="resumable-file-name">
  "{{resumableFile.fileName}}":
</span>
<span class="resumable-file-progress">
  {{#if error}}
    {{t 'components.uploadingFile.error'}} {{error}}
  {{else if completed}}
    {{t 'components.uploadingFile.completed'}}
  {{else}}
    {{percentageProgress}}%  
  {{/if}}
</span>
