{{#if (and type message)}}
  {{#if blocking}}

    <div class="one-row status-panel-inner {{innerClass}}">
      {{#if (eq type 'loading')}}
        <div class="spinner-container spinner-64">
          {{spin-spinner scale=0.5 lines=12 length=20 width=10}}
        </div>
      {{else}}
        <div class="message-icon {{iconClass}}"></div>
      {{/if}}
      <div class="message-text">
        {{message}}
      </div>
    </div>

  {{else}}

    {{modals/elements/alert-panel message=message
      messageType=alertPanelType closeButton=false
      messagePrefix=messagePrefix
      class="status-panel-inner {{innerClass}}"}}

    {{yield}}

  {{/if}}

{{else}}

  {{yield}}

{{/if}}
