{{!-- A Spaces view: sidebar with spaces list and content (if fit to screen) --}}
{{page-title (t 'data.title')}}

{{!-- Secondary top bar --}}
<div class="secondary-top-bar">
  {{file-breadcrumbs file=dir changeDir="openDirInBrowser"}}
</div>

<div class="lower-main-content">

  {{!-- Secondary sidebar --}}
  <nav class="secondary-sidebar">
    {{data-spaces-select spaces=model goToDataSpace="goToDataSpace"}}
    {{outlet "data-space"}}
  </nav>

  <div class="resize-handler data-sidebar-resize-handler transparent"
    id="data-sidebar-resize-handler">
  </div>

  <div id="content-scroll">
    {{outlet "dir"}}
  </div>

</div>
