<h1>ACE ITEM</h1>
<div class="modal-row large-space">
  <div class="row">
    <div class="col-xs-3">
      {{!-- TODO: subject selector --}}
      ace: {{ace}}
      acesubj: {{ace.subject}}
      {{select-2
        content=subjectItems
        value=ace.subject
        optionValuePath="id"
        placeholder="Subject"
        allowClear=false
      }}
    </div>
    <div class="col-xs-3">
      {{!-- TODO: user/group selector --}}
      {{!-- TODO: resolve user/group model --}}
      {{#if (eq ace.subject 'user')}}
        {{select-2
          content=systemUsers
          value=ace.user
          optionValuePath="id"
          placeholder="User"
          allowClear=false
        }}
      {{else if (eq ace.subject 'group')}}
        {{select-2
          content=systemGroups
          value=ace.group
          optionValuePath="id"
          placeholder="Group"
          allowClear=false
        }}
      {{/if}}
    </div>
    <div class="col-xs-4">
      {{!-- TODO additional checkboxes --}}
    </div>
    <div class="col-xs-1">
      {{!-- TODO trash --}}
    </div>
    <div class="col-xs-1">
      {{!-- TODO future move up down --}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      {{!-- TODO translate, label --}}
      Type
    </div>
    <div class="col-xs-9">
      {{!-- TODO: type selector --}}
      {{ace.type}}
    </div>
  </div>
  <li>type:

  </li>
  <li>permissions: {{ace.permissions}}</li>
</div>
