<h1>ACE ITEM</h1>
<div class="modal-row large-space">
  <div class="row">
    <div class="col-xs-3">
      {{!-- TODO: subject selector --}}
      {{ace.subject}}
    </div>
    <div class="col-xs-3">
      {{!-- TODO: user/group selector --}}
      {{!-- TODO: resolve user/group model --}}
      {{select-2
        content=systemUsers
        value=ace.user
        placeholder="Choose a user"
        allowClear=false
      }}
      {{select-2
        content=systemGroups
        value=ace.group
        placeholder="Choose a group"
        allowClear=false
      }}
      {{#if (eq ace.subject 'user')}}
        user: {{ace.user}}
      {{else if (eq ace.subject 'group')}}
        group: {{ace.group}}
      {{/if}}
    </div>
    <div class="col-xs-4">
      {{!-- TODO additional checkboxes --}}
    </div>
    <div class="col-xs-1">
      {{!-- TODO trash --}}
    </div>
    <div class="col-xs-1">
      {{!-- TODO future move up down --}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      {{!-- TODO translate, label --}}
      Type
    </div>
    <div class="col-xs-9">
      {{!-- TODO: type selector --}}
      {{ace.type}}
    </div>
  </div>
  <li>type:

  </li>
  <li>permissions: {{ace.permissions}}</li>
</div>
