<div class="row">
  <div class="col-xs-3">
    {{select-picker
      nothingSelectedMessage='Subject'
      value=ace.subject
      nativeMobile=false
      content=subjectItems
      optionLabelPath='content.text'
      optionValuePath='content.id'
      }}
  </div>
  <div class="col-xs-3">
    {{#if (eq ace.subject 'user')}}
      {{select-picker
        nothingSelectedMessage='Select user'
        value=ace.user
        nativeMobile=false
        liveSearch=true
        content=systemUsers
        optionLabelPath='content.text'
        optionValuePath='content.id'
        }}
    {{else if (eq ace.subject 'group')}}
      {{select-picker
        nothingSelectedMessage='Select group'
        value=ace.group
        nativeMobile=false
        liveSearch=true
        content=systemGroups
        optionLabelPath='content.text'
        optionValuePath='content.id'
        }}
    {{/if}}
    {{!-- else: this field should be empty --}}
  </div>
  <div class="col-xs-3">
    {{!-- TODO additional checkboxes --}}
  </div>
  <div class="col-xs-3 col-permission-tool">
    <div class="permission-tools">
      <a {{action 'removeSelf'}} class="permission-tool-icon remove">
        {{icon 'remove'}}
      </a>
      <a {{action 'moveUp'}} class="permission-tool-icon move-up">
        {{icon 'move-up'}}
      </a>
      <a {{action 'moveDown'}} class="permission-tool-icon move-down">
        {{icon 'move-down'}}
      </a>
    </div>
  </div>
</div>
<div class="row row-permission-types">
  <div class="col-xs-3 radio-button-line">
    Type
  </div>
  <div class="col-xs-9">
    {{#one-radio-group groupValue=ace.type as |enabledType|}}
      {{#each types as |type|}}
        {{one-radio-button
          label=(t (concat 'components.filePermissions.acl.aceItem.types.' type))
          value=type
          groupValue=enabledType
          }}
      {{/each}}
    {{/one-radio-group}}
  </div>
</div>
<div class="row">
  <div class="col-xs-3 radio-button-line">
    Permissions
  </div>
  <div class="col-xs-9">
    {{!-- {{input value=ace.permissions type='number'}} --}}

    {{#one-checkbox-group groupValues=ace as |enabledPermissions|}}
      {{#each permissionKeys as |permissionType|}}
        {{file-permissions/acl/permission-checkbox
          name=permissionType
          ace=ace
          groupValues=enabledPermissions
        }}
      {{/each}}
    {{/one-checkbox-group}}
  </div>
</div>
