<div class="row">
  Name: {{model.name}}
</div>
<div class="row">
  Space: {{model.dataSpace.name}}
</div>
<div class="row">
  Directory path: {{model.file.path}}
</div>
<div class="row">
  Public URL: {{model.publicUrl}}
</div>

<div class="files-list">
  {{#if directory}}
    {{data-files-list dir=directory openDirInBrowser='openDirInBrowser'
      openFileShareModal='openFileShareModal'}}
  {{/if}}
</div>
