{{#bs-modal open=open body=false footer=false
  id="db-index"
  title=(t "components.modals.dbIndexModal.title")
  keyboard=true
  autoClose=true
  backdropClose=true
  closeButton=true
  size="lg"
}}
  {{#if dbIndexProxy.isPending}}
    <div class="loader-container">
      {{spin-spinner-block sizeClass="md" class="centered"}}
    </div>
  {{else}}
    {{#bs-modal-body class="db-index-modal-body"}}
      {{#bs-tab class="bs-tab" fade=false}}
        {{#bs-tab-pane title=(t "components.modals.dbIndexModal.tabs.general")}}
          {{modals/db-index-modal/tab-general
            indexName=dbIndex.name
            spaceName=dbIndex.space.name
            spatial=dbIndex.spatial
            providerNames=(and dbIndex.providersRecords.content (map-by "name" dbIndex.providersRecords))
            indexOptions=dbIndex.indexOptions
          }}
        {{/bs-tab-pane}}
        {{#bs-tab-pane title=(t "components.modals.dbIndexModal.tabs.mapFunction")}}
          {{modals/db-index-modal/tab-function
            functionString=dbIndex.mapFunction
            emptyMessage=(t "components.modals.dbIndexModal.tabMapFunction.empty")
            class="tab-function-reduce"
          }}
        {{/bs-tab-pane}}
        {{#bs-tab-pane title=(t "components.modals.dbIndexModal.tabs.reduceFunction")}}
          {{modals/db-index-modal/tab-function
            functionString=dbIndex.reduceFunction
            emptyMessage=(t "components.modals.dbIndexModal.tabReduceFunction.empty")
            class="tab-function-reduce"
          }}
        {{/bs-tab-pane}}
      {{/bs-tab}}
    {{/bs-modal-body}}
    {{#bs-modal-footer as |footer|}}
      {{#bs-button action=(action "close" target=footer) type="primary"}}
        {{t "common.modal.close"}}
      {{/bs-button}}
    {{/bs-modal-footer}}
  {{/if}}
{{/bs-modal}}