{{#bs-modal open=open body=false footer=false size=modalSize
    id=modalId
    title=(t "components.dataFilesListToolbar.fileChunksModal.title")
    openAction=(action "open")
    closedAction=(action "closed")
    keyboard=true
    autoClose=true
    backdropClose=true
    closeButton=false
  }}
  {{#bs-modal-body}}
    {{#if isFileEmpty}}
      <div class="empty-file-info">
        <p class="empty-file-info-msg">{{t "components.dataFilesListToolbar.fileChunksModal.fileIsEmpty"}}</p>
      </div>
    {{else}}
      <div class="container-fluid">
        <div class="modal-row large-space">
          {{t "components.dataFilesListToolbar.fileChunksModal.text"}}
          <strong>{{file.name}}</strong>
        </div>
        <div class="modal-row large-space">
          {{#if chunksModalError}}

            <div class="one-row">
              {{t "components.dataFilesListToolbar.fileChunksModal.error"}}: {{chunksModalError}}
            </div>

          {{else}}

            {{#if (eq onlySingleProviderSupport true)}}
              <div class="alert alert-info">
                {{t "components.dataFilesListToolbar.fileChunksModal.onlySingleProviderSupport"}}
              </div>
            {{else}}
              {{#if (eq currentProviderSupport false)}}
                <div class="alert alert-info">
                  {{t "components.dataFilesListToolbar.fileChunksModal.noCurrentProviderSupport"}}
                </div>
              {{/if}}
            {{/if}}

            {{#if tableDataLoaded}}
            
              {{!-- NOTE: there is an assumption that every fb has other provider --}}
              <div class="row">
                <table class="table file-blocks-table">
                  <thead>
                    <th>
                      {{t "components.dataFilesListToolbar.fileChunksModal.providerName"}}
                    </th>
                    {{#if (eq onlySingleProviderSupport false)}}
                      <th class="replica-options"></th>
                    {{/if}}
                    {{#if (not file.isDir)}}
                      <th>
                        {{t "components.dataFilesListToolbar.fileChunksModal.dataDitribution"}}
                      </th>
                    {{/if}}
                  </thead>
                  <tbody>
                    {{#each fileBlocksSorted as |fb|}}
                      {{modals/file-chunks/provider-row
                        class=(concat "provider-row-" fb.provider)
                        fileDistribution=fb
                        currentProviderSupport=currentProviderSupport
                        file=file
                        openMigrationOptions=(action "openMigrationOptions")
                        startReplication=(action "startReplication")
                        fileTransfers=fileTransfers
                        migrationInvoked=(contains fb.provider providerMigrationsInvoked)
                      }}
                    {{/each}}
                  </tbody>
                </table>
              </div>
              {{#if (and fileTransfers fileTransfers.length)}}
                <div class="row">
                  <div class="alert alert-info">
                    {{t "components.dataFilesListToolbar.fileChunksModal.currentlyTransferredText"}}
                    &ndash;
                    {{#link-to 'onedata.transfers'}}{{t "components.dataFilesListToolbar.fileChunksModal.currentlyTransferredLink"}}{{/link-to}}.
                  </div>
                </div>
              {{/if}}
              
              {{#if migrationSource}}
                <div class="open">
                  {{modals/file-chunks/migrate-popover
                    startMigration=(action "startMigration" file)
                    sourceProvider=migrationSource
                    disabledProviderIds=currentMigrationSourceIds
                    providers=providers
                    close=(action (mut migrationSource null))
                  }}
                </div>
              {{/if}}

            {{else}}
              <div class="one-row">
                <div class="loading-throbber"></div>
                <div class="loading-label">
                  {{t "components.dataFilesListToolbar.fileChunksModal.loading"}}
                </div>
              </div>            
            {{/if}}
            
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button action=(action "close" target=footer) type="primary"}}
      {{t "common.modal.close"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}
