{{#bs-modal open=open body=false footer=false
    id="edit-permissions"
    title=(t 'components.modals.filePermissions.title')
    openAction="open"
    openedAction="opened"
    closedAction="closed"
    keyboard=(not isBusy)
    autoClose=(not isBusy)
    backdropClose=(not isBusy)
    closeButton=false
  }}
  {{#bs-modal-body class='file-permissions-modal'}}
  {{!-- FIXME: grey lines in modal rows --}}
    <div class="modal-row modal-row-main heading">
      <div class="row">
        <div class="col-xs-4">
          <h1>{{t 'components.modals.filePermissions.permissionsType'}}</h1>
        </div>
        <div class="col-xs-8 col-permission-types-checkboxes">
          {{#one-radio-group groupValue=null}}
            {{one-radio-button value="p" groupValue=permissionsType
              label=(t 'components.modals.filePermissions.types.posix')
            }}
            {{one-radio-button value="a" groupValue=permissionsType
              label=(t 'components.modals.filePermissions.types.acl')
            }}
          {{/one-radio-group}}
        </div>
      </div>
    </div>

    {{#if (eq permissionsType 'p')}}
      {{file-permissions/posix permissions=posixCache}}
    {{else if (eq permissionsType 'a')}}
      {{file-permissions/acl file=file fileAcl=aclCache}}
    {{/if}}
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#spin-button-onedata buttonType="submit"
      action=(action "submit")
      class="btn btn-primary no-outline" spinnerColor="#fff"
      inFlight=isSubmitting
      disabled=isBusy
    }}
      {{t "common.modal.ok"}}
    {{/spin-button-onedata}}
    {{#bs-button action=(action "close" target=footer) type="default"
      disabled=isBusy
    }}
      {{t "common.modal.cancel"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}
