{{#bs-modal open=open body=false footer=false size='lg'
    id="share-info"
    title=(t 'components.modals.fileShareInfo.title')
    openAction="open"
    openedAction="opened"
    closedAction="closed"
    keyboard=true
    autoClose=true
    backdropClose=true
    closeButton=true
  }}
  {{#bs-modal-body}}

    {{#if isLoading}}
      <div class="spinner-container spinner-centered spinner-128">
        {{spin-spinner scale=1 lines=12 length=20 width=10}}
      </div>
    {{else}}
      {{t 'components.modals.fileShareInfo.subtitle'
        path=share.file.path
        name=share.name
      }}

      {{#modals/elements/form-row translationBase="components.modals.fileShareInfo.publicUrl"
        class="modal-row"}}
          {{input-copy inputValue=share.publicUrl autofocus=false}}
      {{/modals/elements/form-row}}
    {{/if}}

  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button disabled=goToShareDisabled action=(if (not goToShareDisabled) (action "goToShare")) type="primary"}}
      {{t "components.modals.fileShareInfo.goToShare"}}
    {{/bs-button}}
    {{#bs-button action=(action "close" target=footer) type="default"}}
      {{t "common.modal.close"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}
