{{#if (eq tagName "tr")}}
  <td class="first-row-inner" style={{tdStyle}} colspan={{visibleColumnsCount}}>
    <div class="sticky-container middle-sticky {{middleStickyClass}}">
      {{loading-more-spinner}}
    </div>
  </td>
{{else}}
  <div class="first-row-inner" style={{tdStyle}}>
    <div class="sticky-container middle-sticky {{middleStickyClass}}">
      {{loading-more-spinner}}
    </div>
  </div>
{{/if}}