<td id="file-{{file.id}}" class="file-list-col-file hover-parent">
  <div class="file-icon">
    {{file-icon file=file}}
  </div>
  <div class="file-label">
    {{#truncated-string parentSelector=".file-list-col-file" shrinkBy=100}}
      {{#if file.isBroken}}
        <em>{{t 'components.dataFilesList.fileIsBroken'}}</em>
      {{else}}
        {{file.name}}
      {{/if}}
    {{/truncated-string}}
  </div>
  <div class="file-row-tools visible-on-parent-hover-25p">
    {{#if file.hasShare}}
      <div {{action (action 'shareFile') bubbles=false}} class="file-tool file-tool-share">
        {{icon 'share'}}
      </div>
    {{/if}}
    {{#if file.hasMetadata}}
      <bs-tooltip title="Edit file metadata" placement="bottom">
        <div {{action (action 'toggleFileMetadata') bubbles=false}} class="file-tool file-tool-metadata">
          {{icon 'metadata'}}
        </div>
      </bs-tooltip>
    {{/if}}
  </div>
</td>
<td class="hidden-xs file-list-col-size nowrap">
  {{file.sizeHumanReadable}}
</td>
{{!-- TODO: disabled in beta4 --}}
{{!-- <td class="col-permissions hidden-xs hidden-sm file-list-col-permissions nowrap">
  {{file.permissionsHumanReadable}}
</td> --}}
<td class="hidden-xs file-list-col-modification nowrap">
  {{file.modificationMoment}}
</td>
